@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > a{
    display: flex;
}

header > nav > a{
    text-decoration: none;
    margin: 15px;
}
header > nav > a:hover{
    background-color: #5BC241;
    color: white;
    padding: 11px 6px;
}

header > nav > button{
    background-color: #5BC241;
    border-radius: 10px;
    border: none;
}

header > nav > button > a{
    color: white;
    font-size: 1.2em;
}



@media (max-width: 375px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header > nav{
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.4em;
    }
}