@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
/* font-family: 'Aladin', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:whgt@300;400;800;&display=swap');
/* font-family: 'Public Sans', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Public Sans', sans-serif;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

/* LOGO */
.logo .imagem{
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo .titulo{
    margin-left: 7px;
    font-size: 17px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
}
.logo .titulo:hover{
    color: #1ED760;
    
}

/* LOGO */

/* CABEÇALHO */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.cabecalho .navegacao .menu{
    display: flex;
}
.cabecalho .navegacao .menu .item{
    margin: 10px;
}
.cabecalho .navegacao .menu .item a{
    padding: 15px;
    transition: 0.3s ease-in-out;
}
.cabecalho .navegacao .menu .item a:hover{
    background-color: #1ED760;
    color: white;
}
@media(max-width: 624px){
    .cabecalho{
        justify-content: center;
    }
    .cabecalho .logo{
        margin-bottom: 30px;
    }
    .cabecalho .menu .item a{
        font-size: calc(0.6em +1vw);
    }
}
/* CABEÇALHO */

/* PAINEL */
.conteudo-principal .paineis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative;
}
@media(max-width: 900px){
    .conteudo-principal .paineis{
        height: 500px;
    }
}
.conteudo-principal .paineis .imagem-painel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);

    opacity: 0;
    transition: 0.3s ease-in-out;
}
.conteudo-principal .paineis .projeto1{
    background-image: url(src/imagens/imagens/painel1.jpg);
}
.conteudo-principal .paineis .projeto2{
    background-image: url(src/imagens/imagens/painel2.jpg);
}
.conteudo-principal .paineis .projeto3{
    background-image: url(src/imagens/imagens/painel3.jpg);
}
.conteudo-principal .paineis .imagem-painel.mostrar{
    opacity: 1;
}
.conteudo-principal .paineis .titulo{
    color: white;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}
.conteudo-principal .paineis .seta{
    background-image: url(src/imagens/imagens/seta.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}
.conteudo-principal .paineis .seta.btn-voltar{
    left: 20px;
    transform: rotateY(180deg);
}
.conteudo-principal .paineis .seta.btn-avancar{
    right: 20px;
}
/* PAINEL */

/* QUEM SOMOS */
.quem-somos{
    background-color: #2941AB;
}
.quem-somos .conteudo{
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.quem-somos .conteudo .informacoes{
    width: 40%;
}
.quem-somos .conteudo .informacoes .titulo{
    font-size: 50px;
    color: #1ED760;
    margin-bottom: 20px;
}
.quem-somos .conteudo .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
    color: white;
    font-weight: 400;
}
.quem-somos .conteudo .imagem{
    width: 60%;
}
@media(max-width: 1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 30px;
    }
    .quem-somos .conteudo .imagem{
        display: none;
    }
    .quem-somos .conteudo .informacoes{
        width: 100%;
    }
}
/* QUEM SOMOS */

/* RODAPE */
.rodape{
    padding: 80px 0 20px 0;
}
.rodape .navegacao{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.rodape .navegacao .logo .imagem{
    width: 100px;
}
.rodape .redes-sociais{
    display: flex;
}
.rodape .redes-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    padding: 15px;
    width: 65px;
    transition: 0.3s ease-in-out;
}
.rodape .redes-sociais a:hover{
    background-color: #1ED760;
}
.rodape .copyright{
    margin: 70px;
    text-align: center;
}
@media(max-width: 940px){
    .rodape .navegacao{
        justify-content: center;
    }
    .rodape .navegacao .logo{
        margin-bottom: 30px;
    }
    .rodape .navegacao .logo, .rodape .navegacao .redes-sociais{
        width: 100%;
        justify-content: center;
    }
}
/* RODAPE */